*.exe
*__pycache__/
*.pyc
*.pyo
*.vscode/
*.idea/
*JSON/
*logs/
*.tmp
*Code/

# Ignore LaTeX build files everywhere
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bcf
*.bbl
*.blg